footer.footer
    .footer__grid
        .footer__menu
            ul
                li 회사소개
                ||
                li 이용약관
                ||
                li 쇼핑몰 이용안내
                ||
                li 개인정보취급방침
                ||
                li 고객센터
        .footer__customer-section
            h4 CUSTOMER CENTER
            .title-devider —
            ul
                p.phone
                    i.fas.fa-phone-alt
                    |   010-1234-5678
                li
                    span.title 평일 
                    span.desc 오전 9:00시 ~ 오후 6:00시
                li
                    span.title 점심 
                    span.desc 오후 12:00시 ~ 오후 1:00시
                li
                    span.title 휴무 
                    span.desc 토 / 일 / 공휴일은 휴무
        .footer__bank-info
            h4 BANK INFO
            .title-devider —
            ul
                li
                    span.title 신한은행
                    span.desc    111-222-333444
                li
                    span.title 예금주 
                    span.desc 포그니스
        .footer__order-tracking
            h4 ORDER TRACKING
            ul
                li
                    i.fas.fa-truck 
                    |    롯데택배 (TEL:1588-2121)
                    button
                        i.fas.fa-search 
                        | 배송위치 조회하기
                li 배송정보는 해당 택배사를 통해 조회가 가능하십니다.
            h4.return RETURN &amp; EXCHANGE
            ul
                li
                    i.fas.fa-map-marker-alt
                    |    반품배송지
                    | 01234 서울특별시 욱산로 진로로 111 역문동 포그니스
                li 공지사항 및 이용안내를 참고하셔서 지점택배사로 반품요청해주세요
        .footer__shop-menu
            h4 SHOP MENU
            .title-devider —
            ul
                li 자주 묻는 질문
                li 고객 만족센터
                li 회원 혜택 안내
                li 브랜드 스토리
        .footer__company-info
            h4 COMPANY INFO
            .title-devider —
            ul
                li
                    span.title 회사명 
                    span.desc 포그니스
                    span.title 대표 
                    span.desc 김미미
                    span.title 대표전화 
                    span.desc 02-111-2222
                li
                    span.title 주소 
                    span.desc 01234 서울특별시 욱산로 진로로 111 역문동 포그니스
                li
                    span.title 사업자 등록번호 
                    span.desc 111-22-33333
                    span.title 통신판매업 신고 
                    span.desc 1111-서울서울-11111
                    span
                        button 사업자정보확인
    .footer_copyright
        span copyright © 2019
        span 포그니스.
        span ALL RIGHT RESERVED.
