.productBlock {
    max-width: 100%;

    img {
        width:100%;
        height: 100%;
    }

    &>* {
        padding: 10px 0px 10px 5px;
    }

    .product__name {
        border-bottom: $light-gray 1px solid;
        font-weight: 600;
    }

    .product__original-price {
        color: $red;
        text-decoration: line-through;
    }
}