@import "./config/reset.scss";
@import "./config/_variable.scss";
@import "./partials/header.scss";
@import "./partials/footer.scss";
@import "./partials/productBlock.scss";
@import "./pages/home.scss";
@import "./layout.scss";


* {
    box-sizing: border-box;
}

html {
    position: relative;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: FontNG, Verdana, Dotum, AppleGothic, sans-serif;
    position: relative;
    font-size: 0.78em;
    width: 100%;
}

a {
    all:unset;
    cursor: pointer;
}