mixin productBlock(product={})
    .productBlock
        a(href="https://google.com")
            img.product__image-url(src=product.imageUrl, alt="img")
        .product__name=product.productName
        .product__previous-price=product.previousPrice
        .product__current-price=product.currentPrice